body {
	margin: 0;
   background-color:lightgreen;
    font-family: 'Roboto', sans-serif;
    padding:0;
    /* background-image: url(https://i.stack.imgur.com/jGlzr.png); */
    background-color: #3D9970
    ;
}
img{
  height: 100;
}

/* Header */
.titel{
    color: wheat;
  text-decoration: none;
  font-size: 30px;
}
.container1 {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #000;

}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Nav bar */
nav {
  float: right;
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  font-weight: 800;
  color: wheat;
  text-decoration: none;
  font-size: 14px;
}


nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: wheat;
  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}

/*footer*/
.footer{
position:absolute;
bottom:0;
width:100%;
height:5rem;
background-color: #000;
}
.container{
	width: 80%;
	margin: 0 auto;
}



/* Signup */
.signup-box {
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
}

h1{
    text-align: center;
    padding-top: 15px ;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border:none;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
}

input[type='button'] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 18px;
}

/* Login */
.login-box {
  width: 360px;
  height: 400px;
  margin:auto;
  border-radius: 3px;



}
.sign{
  color: blue;
  text-decoration: underline;
  cursor:pointer;
}

.create-account{
  text-align: center;
}

/* Sub forum */
.bottom {
  display: flex;
  color: grey;
  font-size: 12px;
}
a {
  text-decoration: none;
  color: black;
}
h4, ol {
  margin: 0;
}

p {
  margin: 5px 0;
}
.row {
  padding: 5px 0;
}

.timestamp {
  padding-right: 10px;
}

 #thread-container{
display: flex;
flex-direction: column;

}
#cars-div {
  display: none;
  text-align: center;
  height: fit-content;

}
#cars {
resize: none;

}
#food-div {
  display: none;
}

#music-div {
  display: none;
}

#music {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
  
}

#comment-btn-music {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#food {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#comment-btn-food {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#comment-btn-cars {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


ul {
  list-style: none;
} 

#topicwrapper {
  display: flex;
  flex-direction: column; 
} 

#Musik {

  height: 15%;
  background-color: #333;
  margin: 1.5rem 0rem;
  padding: 1.5rem;
  color:lightgreen;
  width: fit-content;
  
}
#Car {
  width: fit-content;
  height: 15%;
  background-color: #333;
  margin: 1.5rem 0rem;
  padding: 1.5rem;
  color:lightgreen;
}

#Food {
  width: fit-content;
  height: 15%;
  background-color: #333;
  margin: 1.5rem 0rem;
  padding: 1.5rem;
  color:lightgreen;
}
#main-div {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.row {
  width: 250px;
}

/* ul {
  width: 250px;
} */