body {
	margin: 0; 
	font-weight: 800;
}
.titel{
    color: #444;
  text-decoration: none;
  font-size: 30px;
}
.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: lightgreen;

}

header::after {
  content: '';
  display: table;
  clear: both;
}


nav {
  float: right;
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;
  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  font-size: 14px;
}


nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  top: 0;
  width: 0%;
}

nav a:hover::before {
  width: 100%;
}
